<div class="container">

  <div class="row mt-3">
    <h2>食材詳細</h2>
  </div>
  
  <div class="row mt-3">
    <table>
      <tr>
        <%= image_tag @food.get_image(250,250) %>
        
      </tr>
      <tr>
        <th>食材名</th>
        <td><%= @food.name %></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
    </table>
    <div><%= link_to "編集する", edit_admin_food_path, class: "btn btn-success" %></div>
  </div>

</div>
