<div class="container">
  
  <div class="row mt-3">
    <h2>食材一覧</h2>
  </div>
  
  <div class="row mt-3">
    <% @foods.each do |food| %>
      <p><%= food.name %></p>
      <%= link_to food_path(food.id) do %>
        <%= image_tag food.get_image(100,100) %>
      <% end %>
    <% end %>
  </div>
  <div id="show-stars"></div>
  <script>
    javascript:
  $('#star-rate-#{food.id}').raty({
    size: 36,
    starOff: "#{asset_path('star-off.png')}",
    starOn: "#{asset_path('star-on.png')}",
    starHalf: "#{asset_path('star-half.png')}",
    half: true,
    readOnly: true,
    score: "#{food.reviews.average(:rate).to_f.round(1)}",
  });
  </script>
  
</div>
