<% if flash[:notice] %>
  <p class="alert alert-success"><%= notice %></p>
<% elsif flash[:alert] %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<% flash.each do |message_type, message| %>
  <div><%= message %></div>
<% end %>