<div class="container">
  
  <div class="row mt-3">
    <h2>投稿詳細</h2>
  </div>
  
  <div class="mx-auto mt-3">
    <div id="show-stars"></div>
    <script>
      let showRateElement = document.querySelector('#show-stars');
      let showOpt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[star]',
          score: "<%= @review.star %>",
          readOnly: true
      };
      window.raty(showRateElement, showOpt);
    </script>	
  </div>
  
</div>
