<h2><%= @user.name %> 様</h2>

<p>この度は、お問い合わせありがとうございました。</p>
<p>以下でご質問の回答となっておりますでしょうか。</p>

<p>================================</p>

<p>【返信内容】</p>
<p><%= @contact.reply %></p>

<p>================================</p>

<p>他にもご不明な点がございましたらいつでもお問い合せ下さい。</p>
<p>今後とも当アプリケーションをよろしくお願い致します。</p>

<p>--------------------</p>
<p>運営事務</p>
<p>責任者： ○○</p>
<p>E-mail: ○○@gmail.com</p>
<p>電話番号：000-0000-0000</p>
<p>住所：〒000-0000  大阪府○○区△△町0-0-0</p>
<p>--------------------</p>
