<h2><%= @user.name %> 様</h2>

<p>この度は、お問い合せありがとうございます。</p>
<p>下記の内容でお問い合せを受け付けました。</p>

<p>================================</p>

<p>【お問い合せ内容】</p>
<p><%= @contact.message %></p>

<p>================================</p>

<p>回答まで今しばらくお待ちください。</p>

<p>--------------------</p>
<p>運営事務</p>
<p>責任者： ○○</p>
<p>E-mail: ○○@gmail.com</p>
<p>電話番号：000-0000-0000</p>
<p>住所：〒000-0000  大阪府○○区△△町0-0-0</p>
<p>--------------------</p>
