<div class="container">
  
  <div class="row mt-3">
    <h2>カテゴリ一覧</h2>
  </div>
  
  <div class="row mt-3">
    <table>
      <thead>
        <tr>
          <th>カテゴリ名</th>
        </tr>
      </thead>
      <% @categories.each do |category| %>
      <tbody>
        <tr>
          <td>・<%= link_to category.name,foods_path(category_id: category.id), class:"text-dark" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  
</div>
