<div class="container">
  
  <div class="row mt-3">
    <h2>タグ一覧</h2>
  </div>
  
  <div class="row mt-3">
    <table>
      <thead>
        <tr>
          <th>タグ名</th>
        </tr>
      </thead>
      <% @tags.each do |tag| %>
      <tbody>
        <tr>
          <td>#<%= link_to tag.name, reviews_path(tag_id: tag.id), class:"text-dark" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
